<div class='top-bar'>
  <%= link_to 'Add Ramen', ramens_path %>
  <%= link_to 'Add Restaurant', restaurants_path %>
</div>
<div class='post-container'>
  <%= render @posts %>
</div>
<div class='new-post-form jumbotron'>
  <%= render partial: 'form', locals: {post: @post, ramens: @ramens} %>
</div>